.Counter{
  background-color: goldenrod;
  }
  .box{
  color: white;
  background-color: black;
  }
  
  .day{
    color: black;
    background-color: rgb(252, 252, 102);
  }
  
  .butt2{
    padding: 14px;
    background-color: blue;
    color: wheat;
  }
  .butt2:hover{
    color: rgb(253, 66, 19);
  }
  .butt{
    padding: 10px;
    background-color: blue;
    color: wheat;
  }
  .butt:hover{
    color: rgb(253, 66, 19);
  }